<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <!--<persistence-context-ref>-->
        <!--<persistence-context-ref-name>jdbc/mobile_office</persistence-context-ref-name>-->
        <!--<persistence-unit-name>ISFMO</persistence-unit-name>-->
    <!--</persistence-context-ref>-->

    <!--<resource-ref>-->
        <!--<res-ref-name>jdbc/mobile_office</res-ref-name>-->
        <!--<res-type>javax.sql.DataSource</res-type>-->
        <!--<res-auth>Container</res-auth>-->
    <!--</resource-ref>-->
</web-app>
